@charset "utf-8";
/* CSS Document */

#join {
    width: 620px;
    margin: auto;
    margin-top: 100px;
}

.cat {
    margin-bottom: 20px;
}

footer{
	background-color: #FF8E41;
	color: #402310;
	width: 100%;
	overflow:auto;
	text-align: center;
	border-top-style:dashed;
	border-bottom-style: solid;
	border-color: black;
}

aside{
	width: 33.3%;
	float: left;
}

aside h3{
    font-family: 'Concert One', cursive;
    font-size: 25px;
}