@charset "utf-8";
/* CSS Document */

.top-section {
    overflow: auto;
    width: 100vw;
    height: 100vh;
    position: relative;
    background-size: cover;
}

.top-section__overlay-text {
    width: 100%;
    z-index: 10;
    position: relative;
    padding-top: 10%;
}
.top-section__overlay-text h1{
    color: #F2F2F2;
    font-size: 70px;
}

.top-section__overlay-text h2 {
    color: #F2F2F2;
    font-size: 50px;
}
.top-section__overlay-text__arrow{
    z-index: 10;
    width: 126px;
    vertical-align: middle;
    margin: auto;
    padding-top: 15%;
}

.top-section__background {
    background-image: url("../images/background-photo.jpg");
    background-repeat: repeat;
    background-blend-mode: color-dodge;
    background-size: 100% 115%;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.about-us {
    margin: auto;
    width: 800px;
    position: relative;
    overflow: auto;
}

.presentvideo {
    margin: auto;
    text-align: center;
    width: 260px;
    margin-bottom: 50px;
}

.presentvideo video {
    border: solid #FF8E60 5px;
    width: 250px;
}

.column1home {
    float: left;
    width: 45%;
    text-align: center;
    padding: 25px;
    box-sizing: border-box;
}

.column2home {
    float: left;
    width: 50%;
    padding: 25px;
    box-sizing: border-box;
}

.homepic {
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}
.homepic img {
    width: 100%;
}

@media only screen and (max-width:1000px) {
    [class = "about-us"] {
        width: 100%!important;
    }
    [class = "column1home"] {
        overflow: auto;
        width: 100%;
        float: none;
    }
    [class = "column2home"] {
        float: none;
        width: 80%;
        margin: auto;
    }
    [class = "homepic"] {
        width: 40%;
        float: left;
        margin: 2em;
    }
}

footer{
	background-color: #FF8E41;
	color: #402310;
	width: 100%;
	overflow:auto;
	text-align: center;
	border-top-style:dashed;
	border-bottom-style: solid;
	border-color: black;
}

aside{
	width: 33.3%;
	float: left;
}

aside h3{
    font-family: 'Concert One', cursive;
    font-size: 25px;
}