@charset "utf-8";
/* CSS Document */

/*subnav for activity*/
.subnav {
    padding: 10px 0px 10px 70px;
    top: 70px;
    position: fixed;
    background-color: rgba(39,39,39,.8);
    width: 100%;
    z-index: 1000;
}
.subnav a {
    text-decoration: none;
    color: rgb(219, 216, 216);
    padding: 7px;
    font-size: 15px;
}
.subnav a:hover {
    border-bottom: solid #5B9BD4 2px;
}

/*Activity page*/
.activities-box {
    margin: 170px 10% 0% 10%;
    
}

.oneactivity {
    overflow: auto;
    vertical-align: middle;
}

/*picture of each activity*/
.actpic {
    width: 100%;
    height: 100%;
    border: solid #FF8E60 5px;
    box-sizing: border-box;
}

.actpic:hover {
    background-color: #272727;
    mix-blend-mode: darken;
    border: solid #5B9BD4 5px;
    cursor: cell;
}

@media only screen and (max-width:1000px) {
    [class *= "column"]{
        width: 100%;
    }
}

footer{
	background-color: #FF8E41;
	color: #402310;
	width: 100%;
	overflow:auto;
	text-align: center;
	border-top-style:dashed;
	border-bottom-style: solid;
	border-color: black;
}

aside{
	width: 33.3%;
	float: left;
}

aside h3{
    font-family: 'Concert One', cursive;
    font-size: 25px;
}